.App {
  text-align: center;
}

#title-nav {
  text-align: left;
  margin-top: 8px;
}

.App-header {
  background-color: #E85059;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
