h3 {
    margin-left: 15px;
}

.fileInput {
  cursor: pointer;
  width: 90%;
  padding-bottom: 1em;
}
  
.imgPreview {
  text-align: center;
  height: 70vh;
  max-height: 100%;
  max-width: 100%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  overflow-x: scroll;
  overflow-y: scroll; 
}

  img {
    width: 100%;
  }

  
.previewText {
  width: 100%;
  margin-top: 20px;
}

.previewComponent {
    max-width: 33%;
    width: 33%;
}

.centerText {
  text-align: center;
  width: 500px;
}

.zoomButtons {
  text-align: right;
  background: gray;
  border-radius: 0px;
  padding-bottom: 3px;
  padding-right: 2px;
}

button {
  margin: 2px;
  font-weight: bolder;
}

.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
  right: 0;
}

