.outputLine {
    font-size: 22px;
    word-wrap: normal; 
    width: 100%;
    overflow-wrap: break-word;
    display: block;
}

p {
    margin: 0.1em;
}

.output-editor_label {
    text-align: center;
    margin: 5px;
}

.outputbox-display {
    text-align: right;
    flex-grow: 1;
    margin-left: 1em;
    border: 1px solid #ccc;
    background-color: white;
    padding: 1.3em;
    height: 74vh;
    direction:rtl;
}

.outputbox-display_container {
    height: 70vh;
    border-bottom: 3px dashed grey;
    overflow-y:scroll;
}

