.outputLine {
    font-size: 22px;
    word-wrap: normal; 
    width: 100%;
    overflow-wrap: break-word;
    display: block;
}

p {
    margin: 0.1em;
}



.outputbox-display {
    margin-right: 1em;
    margin-left: 1em;
    text-align: right;
    width: 33%;
    border: 1px solid #ccc;
    background-color: white;
    padding: 1em;
    max-height: 70vh;


}

/*.editor {
    display: inline-flex;
    width: 100%;

}*/