#tool-window {
    padding: 2.5em;
    padding-bottom: .5em;
    height: 100vh;
}

.tool-window_inputs {
    display: flex;
}

.keyboardSelect {
    width: 25%;
    float: left;
    margin: 1em;
    text-align: left;

}

#openFileButton {
    float: right;
    background-color: #E85059;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 8px;

}

#saveToFileButton {
    float: left;
    background-color: #E85059;
     border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 8px;
}

#filePickerInput {
    float: right;
    margin-top: 8px;

}
