#tool-window {
    padding: 2.5em;
    padding-bottom: .5em;
}

.tool-window_inputs {
    display: flex;
}

.keyboardSelect {
    width: 25%;
    float: left;
    margin: 1em;
    text-align: left;

}

